---
import icon from "../../svgs/icon.svg";
import { services } from '../../config/cas-services.json'
import Frontend from "../icons/fronted.astro"
import LogoCAD from "../logo-CAD.astro";
---
<header
    id="header-hero"
    class="flex flex-col md:flex-row p-20 gap-5 text-center md:text-left rounderd-xl dark:bg-secondary_dark " style="min-width: 100vw;"
>
    <div
        class="flex-1 text-center"
        style="align-self: center; display: flex; flex-direction: column; "
    >
   {
      services.map((service) => ( <>
      <a
            href="#"
            class="flex flex-row mt-2 max-w-sm p-6 bg-secondary text-left  max-h-fit min-h-20 rounded-sm shadow hover:bg-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
        <span>
            <h5 class="mb-2 text-xl font-normal tracking-tight text-third dark:text-white">{service.title} </h5>
            <p class="font-normal text-gray-400 dark:text-gray-50">{service.description}</p>
            <h6 class="text-white ">{service.amount_projects} projects</h6>
        </span>
        <span class="text-third">            
           <Frontend></Frontend>
        </span>
            
        </a>
      </>))
   }

      
        
        <LogoCAD zoom={"1"} theme={"currentColor"} theme_text="#00aeff"></LogoCAD>
    </div>

    <div class="flex-1 text-justify">
        <h6 id="introduction">Introduction</h6>
        <h2 class="text-5xl font-bold pb-2">Hello I'm Ivan Esteban Castillo</h2>
        <h5 class="italic pt-5 pb-5 font-semibold">
            Constant effort will always give you results.
        </h5>
        <p class="my-4 text-xl text-body">
            As a professional, my goal is to continually excel, offering
            excellence in each task. I stay at the forefront of technologies,
            demonstrating dedication with actions, exceeding standards and
            leaving a distinctive mark in each role. I drive my colleagues
            toward excellence, embrace continuous improvement, and face
            challenges with proactive determination. I adopt new ideas with
            perseverance, committed to innovation. Every task I undertake is
            approached with a commitment to exceeding expectations, contributing
            to overall success, and constantly learning along the way.
        </p>
    </div>
</header>
