---
import { projects } from '../../config/projects.json'
console.log(projects)
---
<div class="text-center">
    <div class="cont-works text-center flex flex-col md:flex-row justify-center" style="align-items: center; gap: 10px; min-width:100vw">
        <span>
            <h2 class="text-5xl font-bold my-5 text-center my-8">Lastest Works
            </h2>
            <p class="text-body text-center">here the latest jobs I have done</p>

                
        <iframe class="-mb-32 overflow-hidden text-center" style="overflow-y: hidden; min-height: 100vh; min-width: 350px; max-width: 20vw;  
        width: 100%;
        height: 700px; /* Ajusta la altura según sea necesario */
        border: 1px solid #ccc;
        border-radius: 10px;
        transform: scale(0.65); /* Ajusta el valor de escala según sea necesario */
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6); /* Agregamos la sombra oscura en la parte inferior */
        "
        src="https://castelll0009.github.io/Forcestaff-v3.0/gallery-items-collection.html"
        frameborder="0"
        allowfullscreen
       
    ></iframe>
        </span>
        <iframe class="overflow-hidden text-center" style="overflow-y: hidden; min-height: 100vh; min-width: 350px; max-width: 20vw;  
        width: 100%;
        height: 700px; /* Ajusta la altura según sea necesario */
        border: 1px solid #ccc;
        border-radius: 10px;
        transform: scale(0.65); /* Ajusta el valor de escala según sea necesario */
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6); /* Agregamos la sombra oscura en la parte inferior */
        "
        src="https://castelll0009.github.io/Forcestaff-v3.0/Team2.html"
        frameborder="0"
        allowfullscreen
       
    ></iframe>
       
    </div>



    <div class="cont-works text-center flex flex-col md:flex-row justify-center" style="align-items: center; gap: 10px; min-width:100vw">
          
    
    
        <iframe class="-mb-32 overflow-hidden text-center" style="overflow-y: hidden; min-height: 100vh; min-width: 350px; max-width: 20vw;  
        width: 100%;
        height: 700px; /* Ajusta la altura según sea necesario */
        border: 1px solid #ccc;
        border-radius: 10px;
        transform: scale(0.65); /* Ajusta el valor de escala según sea necesario */
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6); /* Agregamos la sombra oscura en la parte inferior */
        "
        src="https://castelll0009.github.io/Quicklink-demo/"
        frameborder="0"
        allowfullscreen
       
    ></iframe>
    <iframe class="overflow-hidden text-center" style="overflow-y: hidden; min-height: 100vh; min-width: 350px; max-width: 20vw;  
    width: 100%;
    height: 700px; /* Ajusta la altura según sea necesario */
    border: 1px solid #ccc;
    border-radius: 10px;
    transform: scale(0.65); /* Ajusta el valor de escala según sea necesario */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6); /* Agregamos la sombra oscura en la parte inferior */
    "
    src="https://castelll0009.github.io/tours-landingpage/"
    frameborder="0"
    allowfullscreen
   
></iframe>
      
        
    </div>
    

</div>
   


<!-- <div>
    {
        projects.map((project) => (
            <div class="flex  flex-col md:flex-row mb-2 text-center  md:text-left justify-evenly ">
                <div class="flex-1 p-4">
                <h1 class="text-2xl font-bold my-5">{project.title}</h1>
                <p class="my-2">{project.description}
                </p>
                <button class="bg-indigo-500 hover:bg-indigo-400 px-3 py-2 ">
                    read more
                </button>
            </div>
            <div class="flex-1 ">
                <img src={project.image} class="w-72" alt="">
            </div>
        </div>
        ))
                                     
    }
</div> -->

